%h1 Listing staffs
%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
    - @staffs.each do |staff|
      %tr
        %td= staff.name
        %td= link_to 'Show', staff
%br/